[submodule ".registry"]
	path = .registry
	url = https://github.com/mwien/mwien.r-universe.dev
	branch = HEAD
[submodule "ciflyr"]
	path = ciflyr
	url = https://github.com/mwien/CIfly
	subdir = ciflyr
